<head>
    <title>Category</title>
</head>

<body>
    <h4>Category</h4>
    <hr/>
    <div>
        <input type="button" name="addCategory" value="Add Category" class="btn btn-primary space" ng-click="openAdd()">
        <span class="glyphicon glyphicon-refresh button-refresh" ng-click="refresh()"></span>
    </div>
    <table st-table="displayedCollection" st-safe-src="categories" class="table table-hover table-condensed">
        <thead>
            <tr>
                <!--<th st-sort="Id">ID</th>-->
                <th st-sort="CategoryCode">Category Code</th>
                <th st-sort="CategoryName">Category Name</th>
                <!--<th st-sort="IsActive">IsActive</th>-->
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="category in displayedCollection">
                <!--<td>{{category.Id}}</td>-->
                <td>{{category.CategoryCode}}</td>
                <td>{{category.CategoryName}}</td>
                <!--<td>{{category.IsActive}}</td>-->
                <td>
                    <span ng-click="openEdit(category)" class="btn btn-primary">Edit</span>
                    <span ng-click="delete(category)" class="btn btn-danger">Delete</span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="10"></div>
                </td>
            </tr>
        </tfoot>
    </table>

    <!-- Modal -->
    <div id="myModal" class="modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancelModal()">&times;</button>
                    <h4 class="modal-title">{{mode}} Category</h4>
                </div>
                <div class="modal-body">
                    <ul class="error" ng-repeat="error in serverErrors">
                        <li>{{error}}</li>
                    </ul>
                    <form name="categoryform" id="categoryform" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : categoryform.categorycode.$invalid && !categoryform.categorycode.$pristine }">
                            <label>Category Code:</label>
                            <input class="form-control" name="categorycode" ng-model="category.CategoryCode" required ng-maxlength="10">
                            <div class="help-block" ng-messages="categoryform.categorycode.$error" ng-if="!categoryform.categorycode.$pristine">
                                <p ng-message="maxlength">Category code is too long.</p>
                                <p ng-message="required">Category code is required.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Category Name:</label>
                            <input class="form-control" name="categoryname" ng-model="category.CategoryName" required ng-maxlength="20">
                            <div class="help-block" ng-messages="categoryform.categoryname.$error" ng-if="!categoryform.categoryname.$pristine">
                                <p ng-message="maxlength">Category name is too long.</p>
                                <p ng-message="required">Category name is required.</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-disabled="categoryform.$invalid" ng-click="saveModal(categoryform.$valid)">Save</button>
                    <button type="button" class="btn btn-default" ng-click="cancelModal()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</body>