/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

div {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/*a {
  color: #00B7FF;
}*/

th {
    background-color: #dcd5d5;
    color: #353434;
    cursor: pointer;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.space{
    margin-bottom: 20px;
}

.error
{
    list-style-type: none;
    padding-left: 0;
    margin-left:0;
    color: red;
}

.button-refresh
{
    float:right;
    font-size: 25px;
    padding-right: 15px;
    padding-top: 5px;
    cursor: pointer;
}

.user-welcome
{
    padding-top:8px;
    padding-right:20px;
}

.btn-trans {
    color:white;
    background-color:transparent;
    border:none;
}

.popover-content {
padding: 5px;
}

#logout-footer{
    border-width:2px;
    border-top-style:solid;
    color:gray;
    padding-top:8px;
}

#logout-body{
    margin-left:2px;
    margin-bottom:2px;
    margin-right:50px;
}