/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

a {
  color: #00B7FF;
}

th {
    background-color: #dcd5d5;
    color: #353434;
    cursor: pointer;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.space{
    margin-bottom: 20px;
}

.error
{
    list-style-type: none;
    padding-left: 0;
    margin-left:0;
    color: red;
}

.refresh
{
    float:right;
    font-size: 25px;
    padding-right: 15px;
    padding-top: 5px;
}