/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

a {
  color: #00B7FF;
}

th {
    background-color: #dcd5d5;
    color: #353434;
    cursor: pointer;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.space{
    margin-bottom: 20px;
}